<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if resturants %}
        {% for resturants in resturants %}
            <p>{{resturants.name}}</p>
            <p>{{resturants.description}}</p>
        {% endfor %}
    {% else %}
        {% for dish in dish %}
            <p>{{dish.name}}</p>
            <p>{{dish.description}}</p>
        {% endfor %}
    {% endif %}        
</body>
</html>